# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]
# sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO"
character-set-server=utf8mb4
default-authentication-plugin=mysql_native_password
# 慢日志配置
slow_query_log=1
# slow_query_log_file=/var/lib/mysql/slow-log.log
long_query_time=0.5

# 跳过 ssl 验证
skip_ssl 

# secure_file_priv=/home/jieqiang/
secure_file_priv=/var/lib/mysql/

max_connections=1000
